<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>write</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <input type="text" class="bcname"> <button type="button" onclick="setbcategory()">카테고리 추가</button>
    <span class="bcategorybox"></span>
    <form class="boardform">
        제목 : <input type="text" name="btitle">
        내용 : <input type="text" name="bcontent">
        첨부파일 : <input type="file" name="bfile">
        <button type="button" onclick="setboard()">등록</button>
        <a href="/board/list"> <button type="button">목록</button> </a>
        <a href="/"><button type="button">메인페이지</button></a>
    </form>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/board/write.js"></script>
</body>
