<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> Rest api 보낸 html </p>
    <button onclick="getMapping1()">57p</button>
    <button onclick="getMapping2()">58p</button>
    <button onclick="getMapping3()">59p</button>
    <button onclick="getMapping4()">60p</button>
    <button onclick="getMapping5()">4-2</button>
    <button onclick="getMapping6()">61p</button>
    <button onclick="getMapping7()">62p</button>
    <button onclick="getMapping8()">63p</button>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/test1.js"></script>

</body>
</html>