<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> Rest api 보낸 html[11/09] </p>
    <button onclick="getMapping1()">57p</button>
    <button onclick="getMapping2()">58p</button>
    <button onclick="getMapping3()">59p</button>
    <button onclick="getMapping4()">60p</button>
    <button onclick="getMapping5()">4-2</button>
    <button onclick="getMapping6()">61p</button>
    <button onclick="getMapping7()">62p</button>
    <button onclick="getMapping8()">63p</button>

    <br>
    <p> postmapping 비동기테스트 [11/10] </p>
    <button onclick="postmapping1()">68p</button>
    <button onclick="postmapping2()">69p</button>
    <button onclick="postmapping3()">69-2</button>

    <br>
    <p> putmapping 비동기테스트 [11/10] </p>
    <button onclick="putmapping1()">70p</button>
    <button onclick="putmapping2()">71p</button>
    <button onclick="putmapping3()">72p</button>

    <br>
    <p> deletemapping 비동기테스트 [11/10] </p>
    <button onclick="deletemapping1()">76p</button>
    <button onclick="deletemapping2()">76-2p</button>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/test1.js"></script>

</body>
</html>